<nav class="primary-color fixed-top navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/">FakeProfile</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/docs">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Notification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/settings">Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
            </ul>
            <div class="d-flex pt-2">
                <form>
                    <%- include('./button.ejs', {
                        button_type: 'button' ,
                        class_name: 'rounded primary-app-button col-lg-12',
                        label: 'Logout',
                        button_id: 'log-out'
                    }) %>
                </form>
            </div>
        </div>
    </div>
</nav>